@inject MiddlewareForUseSessionVariables middlewareForSessionUse
@{
    ViewData["Title"] = "Home Page";
    var session = middlewareForSessionUse._httpContextAccessor.HttpContext.Session;
    var userAccountNameLogged = "";
    if (session.GetString("UserAccountNameLogged") != null)
    {
        userAccountNameLogged = session.GetString("UserAccountNameLogged");
    }
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="display: flex;">
    <div class="mainDiv" id="div1" style="width: 70%; max-height: 630px;">
        <div class="mainIcons">
            <div class="iconDiv">
                <label>Meu cronograma (Horários de aula)</label><br />
                <a href="#"><span><img src="~/scheduleIcon.svg" /></span></a>
            </div>
            <div class="iconDiv">
                <label>Matérias matriculadas</label><br />
                <a href="#"><span><img src="~/studentGrade.svg" /></span></a>
            </div>
            <div class="iconDiv">
                <label>Meu desempenho (Notas e mais)</label><br />
                <a href="#"><span><img src="~/podium.svg"/></span></a>
            </div>
            <div class="iconDiv">
                <label>Minha freq. (Faltas e presenças)</label><br />
                <a href="#"><span><img src="~/activity.svg"/></span></a>
            </div>
            <div class="iconDiv">
                <label>Aba ainda indefinida</label><br />
                <a href="#"><span><img src="~/awayStudent.svg" /></span></a>
            </div>
        </div><br />
        <div style="display: flex;">
            <div class="stats" style="width: 50%; height: 425px; margin-right: 20px;">
                <div class="statsUserArea">
                    <div style="display: flex;">
                        <div>
                            <img class="userImgOfStatsUserArea" src="~/exampleUserProfilePhoto2.jpg" />
                        </div>
                        <div>
                            <p class="usernameOfStatsUserArea"><b>Aluno</b> @userAccountNameLogged</p>
                            <p class="userSignInUniversityDate"><b>Matriculado desde</b> 05/11/2020</p><br />
                        </div>
                    </div>
                    <div class="statsDetails">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="stats" style="width: 50%; height: 425px;">
            </div>
        </div>
        
    </div>
    <div class="mainDiv" id="div2" style="width: 30%;">
        <div id="noticeContainer" name="noticeContainer">
            <div class="notice">
                <div style="display: flex;">
                    <div>
                        <img class="noticeOwnerProfilePhoto" src="~/exampleUserProfilePhoto.jpg" width="90px" height="60px" />
                    </div>
                    <div>
                        <p class="noticeOwner">Hiago Lopes</p>
                        <p class="noticeDateTime">há 47m</p>
                    </div>
                </div>
                <p class="noticeText">
                    Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                    adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                    Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.
                </p>
            </div>
            <div class="noticeJumpLine"></div>
        </div>
        <div id="noticeContainer" name="noticeContainer">
            <div class="notice">
                <div style="display: flex;">
                    <div>
                        <img class="noticeOwnerProfilePhoto" src="~/exampleUserProfilePhoto2.jpg" width="90px" height="60px" />
                    </div>
                    <div>
                        <p class="noticeOwner">Hiago Lopes</p>
                        <p class="noticeDateTime">há 47m</p>
                    </div>
                </div>

                <p class="noticeText">
                    Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                    adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                    Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.
                </p>
            </div>
            <div class="noticeJumpLine"></div>
        </div>
        <div id="noticeContainer" name="noticeContainer">
            <div class="notice">
                <div style="display: flex;">
                    <div>
                        <img class="noticeOwnerProfilePhoto" src="~/exampleUserProfilePhoto.jpg" width="90px" height="60px" />
                    </div>
                    <div>
                        <p class="noticeOwner">Hiago Lopes</p>
                        <p class="noticeDateTime">há 47m</p>
                    </div>
                </div>

                <p class="noticeText">
                    Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                    adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                    Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.
                </p>
            </div>
            <div class="noticeJumpLine"></div>
        </div>
    </div>
</div>

<script>
    

    $(document).ready(function () {
        const ctx = document.getElementById("myChart").getContext("2d");
        const myChart = new Chart(ctx, {
            type: "pie",
            data: {
                labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho"],
                datasets: [
                    {
                        label: "Vendas",
                        data: [12, 19, 3, 5, 2, 3, 7],
                        backgroundColor: [
                            "rgba(255, 99, 132, 0.2)",
                            "rgba(54, 162, 235, 0.2)",
                            "rgba(255, 206, 86, 0.2)",
                            "rgba(75, 192, 192, 0.2)",
                            "rgba(153, 102, 255, 0.2)",
                            "rgba(255, 159, 64, 0.2)",
                            "rgba(255, 99, 132, 0.2)"
                        ],
                        borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                            "rgba(75, 192, 192, 1)",
                            "rgba(153, 102, 255, 1)",
                            "rgba(255, 159, 64, 1)",
                            "rgba(255, 99, 132, 1)"
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                height: 100,
                width: 300,
                legend: {
                    display: true
                }
            }
        });
    });
</script>