@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex;">
    <div class="mainDiv" id="div1" style="width: 70%; max-height: 500px;">
        <div class="mainIcons">
            <div id="scheduleIconDiv">
                <a href="#"><span><img src="~/scheduleIcon.svg" height="150px" /></span></a><br />
                <label>Horários de aula</label>
            </div>
        </div>
    </div>
    <div class="mainDiv" id="div2" style="width: 30%;">
        <div id="noticeContainer" name="noticeContainer">
            <div class="notice">
                <div style="display: flex;">
                    <div>
                        <img class="noticeOwnerProfilePhoto" src="~/exampleUserProfilePhoto.jpg" width="90px" height="60px" />
                    </div>
                    <div>
                        <p class="noticeOwner">Hiago Lopes</p>
                        <p class="noticeDateTime">há 47m</p>
                    </div>
                </div>
            
                <p class="noticeText">
                    Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                    adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                    Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.
                </p>
            </div>
            <div class="noticeJumpLine"></div>
        </div>
<div id="noticeContainer" name="noticeContainer">
            <div class="notice">
                <div style="display: flex;">
                    <div>
                        <img class="noticeOwnerProfilePhoto" src="~/exampleUserProfilePhoto2.jpg" width="90px" height="60px" />
                    </div>
                    <div>
                        <p class="noticeOwner">Hiago Lopes</p>
                        <p class="noticeDateTime">há 47m</p>
                    </div>
                </div>

                <p class="noticeText">
                    Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                    adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                    Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.
                </p>
            </div>
            <div class="noticeJumpLine"></div>
        </div>
        <div id="noticeContainer" name="noticeContainer">
            <div class="notice">
                <div style="display: flex;">
                    <div>
                        <img class="noticeOwnerProfilePhoto" src="~/exampleUserProfilePhoto.jpg" width="90px" height="60px" />
                    </div>
                    <div>
                        <p class="noticeOwner">Hiago Lopes</p>
                        <p class="noticeDateTime">há 47m</p>
                    </div>
                </div>

                <p class="noticeText">
                    Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                    adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                    Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.
                </p>
            </div>
            <div class="noticeJumpLine"></div>
        </div>
    </div>
</div>